    @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
    @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body { 
  background-color: rgb(225, 255, 245);
  border: 5px solid white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Fugaz One', sans-serif;
  
}

.overBackground {
background-image: url("/hq720.jpg") ;
   background-blend-mode: soft-light;
   background-color: rgb(195, 255, 235);
}
.underBackground {
  background-image: url("/down.jpg") ;
   background-blend-mode: soft-light;
   background-color: rgb(195, 255, 235);
}
.titleTop {
  color: coral;
  text-shadow: 1.4px 1.4px 3px black;
  font-size: 9vw; /* Adjust the value as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.recResult {
  font-size: xx-large;
}
.bet {
  font-size: smaller;
  font-weight: bold;
}
.hit {
  color: green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 8vw;
  
}

.miss {
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 8vw;
}
.missBet {
  color: red;
}
.hitBet {
  color: green;
}
 .boxTitle {
  font-size: 2vw; /* Adjust the value as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recommendation {
  font-size: 2vw; /* Adjust the value as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.TopCard { 
  flex: 1;
  min-Width: 0;
  max-width: 23%;
  margin: 15px;
  border: 2px solid black;
  box-shadow: 5px 5px 9px darkslategray;
  border-radius: 90px 92px 55px 2px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(134, 134, 134, 0.2));
}
.takeOver {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(38, 255, 0, 0.6));
}
.takeUnder{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 0, 0, 0.5));
}
.DontBet {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(246, 255, 0, 0.5));

}
.leftSide {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 90%;
}
.first3Cards {
  flex: 1;
  display: flex;
  justify-content: space-around;
  height: 50vh;
}
.recordWeeks {
  display:flex;
  justify-content: space-around;
  gap: 0; 
  padding: 0; 
  margin: 0;
  width: 100%;
}
.week {
  width: 25%;
  background: #ffebeb;
  background: linear-gradient(90deg,rgba(255, 235, 235, .5) 0%, rgba(186, 255, 216, .5) 50%, rgba(196, 244, 255, .5) 100%);
  
}
.recordTitle {
  font-size: 9vw; /* Adjust the value as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
.recordBox {
  margin-top: 20px;
  padding: 2em;
  border: 2px solid black;
  background-image: linear-gradient(to right, rgba(52, 52, 52, .2), rgba(134, 134, 134, 0.3));
  text-align: center;
  box-shadow: 5px 5px 5px grey;
    border-radius: 90px 92px 2px 55px;
}

.option {
  font-size: 1.3em;
}

.c-checkbox {
  display: none;
}

.c-checkbox:checked + .c-formContainer .c-form {
  width: 100%;
}

.c-checkbox:checked + .c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}

.c-checkbox:checked + .c-formContainer .c-form__input,
.c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
  transition: 0.2s 0.1s;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle,
.c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
  pointer-events: none;
  cursor: default;
}

.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before,
.c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
  content: 'Thank You! 😊';
}

.c-formContainer,
.c-form,
.c-form__toggle {
  width: 100%;
  height: 6.25em;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
  width: 100%;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  background-color: white;
  transition: 0.2s;
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: salmon;
  top: 0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form__toggle::before {
  font-size: 1.75em;
  content: attr(data-title);
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1.75em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: pink;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;
  font-size: larger;
}

.c-form__input::placeholder {
  color: currentColor;
}

.c-form__input:required:valid {
  color: salmon;
  font-size: larger;
}

.c-form__input:required:valid + .c-form__buttonLabel {
  color: white;
}

.c-form__input:required:valid + .c-form__buttonLabel::before {
  pointer-events: initial;
}

.c-form__buttonLabel {
  color: cornflowerblue;
  height: 100%;
  width: auto;
  position: relative;
}

.c-form__buttonLabel::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: salmon;
}

button {
    all: unset;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    border-radius: 999vw;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: -0.15em -0.15em 0.15em -0.075em rgba(5, 5, 5, 0.25),
        0.0375em 0.0375em 0.0675em 0 rgba(5, 5, 5, 0.1);
}

button::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: calc(100% + 0.3em);
    height: calc(100% + 0.3em);
    top: -0.15em;
    left: -0.15em;
    border-radius: inherit;
    background: linear-gradient(-135deg,
            rgba(5, 5, 5, 0.5),
            transparent 20%,
            transparent 100%);
    filter: blur(0.0125em);
    opacity: 0.25;
    mix-blend-mode: multiply;
}

button .button-outer {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    transition: box-shadow 300ms ease;
    will-change: box-shadow;
    box-shadow: 0 0.05em 0.05em -0.01em rgba(5, 5, 5, 1),
        0 0.01em 0.01em -0.01em rgba(5, 5, 5, 0.5),
        0.15em 0.3em 0.1em -0.01em rgba(5, 5, 5, 0.25);
}

button:hover .button-outer {
    box-shadow: 0 0 0 0 rgba(5, 5, 5, 1), 0 0 0 0 rgba(5, 5, 5, 0.5),
        0 0 0 0 rgba(5, 5, 5, 0.25);
}

.button-inner {
    --inset: 0.035em;
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 1em 1.5em;
    background-image: linear-gradient(135deg,
            rgba(230, 230, 230, 1),
            rgba(180, 180, 180, 1));
    transition: box-shadow 300ms ease, clip-path 250ms ease,
        background-image 250ms ease, transform 250ms ease;
    will-change: box-shadow, clip-path, background-image, transform;
    overflow: clip;
    clip-path: inset(0 0 0 0 round 999vw);
    box-shadow:
        /* 1 */
        0 0 0 0 inset rgba(5, 5, 5, 0.1),
        /* 2 */
        -0.05em -0.05em 0.05em 0 inset rgba(5, 5, 5, 0.25),
        /* 3 */
        0 0 0 0 inset rgba(5, 5, 5, 0.1),
        /* 4 */
        0 0 0.05em 0.2em inset rgba(255, 255, 255, 0.25),
        /* 5 */
        0.025em 0.05em 0.1em 0 inset rgba(255, 255, 255, 1),
        /* 6 */
        0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
        /* 7 */
        -0.075em -0.25em 0.25em 0.1em inset rgba(5, 5, 5, 0.25);
}

button:hover .button-inner {
    clip-path: inset(clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) round 999vw);
    box-shadow:
        /* 1 */
        0.1em 0.15em 0.05em 0 inset rgba(5, 5, 5, 0.75),
        /* 2 */
        -0.025em -0.03em 0.05em 0.025em inset rgba(5, 5, 5, 0.5),
        /* 3 */
        0.25em 0.25em 0.2em 0 inset rgba(5, 5, 5, 0.5),
        /* 4 */
        0 0 0.05em 0.5em inset rgba(255, 255, 255, 0.15),
        /* 5 */
        0 0 0 0 inset rgba(255, 255, 255, 1),
        /* 6 */
        0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
        /* 7 */
        -0.075em -0.12em 0.2em 0.1em inset rgba(5, 5, 5, 0.25);
}

button .button-inner span {
    position: relative;
    z-index: 4;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.05em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(135deg,
            rgba(25, 25, 25, 1),
            rgba(75, 75, 75, 1));
    -webkit-background-clip: text;
    background-clip: text;
    transition: transform 250ms ease;
    display: block;
    will-change: transform;
    text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover .button-inner span {
    transform: scale(0.975);
}

button:active .button-inner {
    transform: scale(0.975);
}

.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}


/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, .5);
  font-size: 16px;
}

@media screen and (max-width: 1326px) {
        /* CSS rules for screens with a maximum width of 768px */
        body {
            background-color: lightblue;
        }
        .overBackground {
          background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/hq720.jpg");
        }
        .underBackground {
          background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/down.jpg");
        }
        .first3Cards {
          display: flex;
          flex-direction: column;
        }
        .boxTitle {
          font-size: 15vw; /* Adjust the value as needed */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .recommendation {
          font-size: 9vw; /* Adjust the value as needed */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .bet {
          font-size: 3vw;
        }
        .weekTitle {
          font-size: 4vw;
        }

        .TopCard {
          display: flex;
          flex-direction: column;
        }
        .everything {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .TopCard {
          max-width: 100%;
        }
        /* Mobile ordering */
        .positionCard { order: 1; }
        .statCard { order: 2; }
        .lineCard { order: 3; }
        .reccomendationCard {
           order: 4; 
           width: 90%;
        }
        .recordBox { order: 5; }
        .recordWeeks {
          display: flex;
          flex-direction: column;
        }
        .recordBox {
          margin-top: 20px;
          padding: 3px;
          width: 100%;
          align-items: center;
        }
        .week {
          width: 93%;
        }
        .hit {
          color: green;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 20vw;
          
        }

        .miss {
          color: red;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 20vw;
        }
    }
